<template>
  <div class="wrapper" ref="lineWrapper">
    <div class="title"></div>
    <div class="tip"></div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      width: 0,
      height: 0,
      margin: {
        left: 50,
        top: 30,
        bottom: 30,
        right: 50
      }
    }
  },
  methods: {
    renderLine () {
      let _me = this
      _me.$svg = d3.select(_me.$refs.lineWrapper).append('svg')
        .attr('width', _me.width)
        .attr('height', _me.height)
      let _timeSeries = Object.keys(_me.$dataset).sort()
      let _lineData = []
      for (let i = 0; i < _timeSeries.length; ++i) {
        _me.$dataset[_timeSeries[i]].year = _timeSeries[i]
        _lineData.push(_me.$dataset[_timeSeries[i]])
      }
      console.log(_timeSeries, _lineData)
      let _xScale = d3.scalePoint()
        .domain(_timeSeries)
        .padding(0.05)
        .rangeRound([
          _me.margin.left,
          _me.width - _me.margin.right
        ])
      let _yScale = d3.scaleLinear()
        .domain([
          0,
          d3.max(_lineData, (_d) => {
            return _d.species.size()
          })
        ])
        .range([
          _me.height - _me.margin.bottom,
          _me.margin.top
        ])
      let _line = d3.line()
        .x((d) => {
          return _xScale(d.year)
        })
        .y((d) => {
          return _yScale(d.species.size())
        })
      _me.$svg.append('g')
        .attr('class', 'x-axis')
        .attr('transform', 'translate(0, ' + (_me.height - _me.margin.bottom) + ')')
        .call(d3.axisBottom(_xScale))
      _me.$svg.append('g')
        .attr('class', 'y-axis')
        .attr('transform', 'translate(' + _me.margin.left + ', 0)')
        .call(d3.axisLeft(_yScale))
      _me.$svg.select('.y-axis')
        .selectAll('.tick')
        .append('path')
        .attr('d', () => {
          return 'M0,0H' + (_me.width - _me.margin.left - _me.margin.right)
        })
        .attr('stroke', '#ccc')
      let _g = _me.$svg.append('g').attr('class', 'line-g')
      _g.append('path').datum(_lineData).attr('d', _line)
        .attr('stroke', 'steelblue')
        .attr('stroke-width', 2)
        .attr('fill', 'none')
      let points = _g.selectAll('circle')
        .data(_lineData).enter()
        .append('circle')
        .attr('class', 'year-points')
        .style('cursor', 'pointer')
        .attr('cx', (d) => {
          return _xScale(d.year)
        })
        .attr('cy', (d) => {
          return _yScale(d.species.size())
        })
        .attr('r', 5)
        .attr('fill', 'white')
        .attr('stroke', 'steelblue')
      _g.append('text').attr('x', 0)
        .attr('text-anchor', 'middle')
        .attr('transform', 'translate(0, ' + _me.height / 2 + ')rotate(-90)')
        .attr('y', 20).text('CNTD(species)')
      _g.append('text').attr('x', 0)
        .attr('text-anchor', 'middle')
        .attr('transform', 'translate(' + _me.width / 2 + ', ' + _me.margin.top + ')')
        .text('planted')
      points.on('mouseover', (d) => {
        let pos = {
          x: _xScale(d.year),
          y: _yScale(d.species.size() - 10)
        }
        _me.showTip(d, pos)
      }).on('mouseout', () => {
        _me.hideTip()
      })
    },
    hideTip () {
      d3.select(this.$refs.lineWrapper).select('.tip').style('top', null)
        .style('bottom', null).style('left', null).style('right', null)
      d3.select(this.$refs.lineWrapper).select('.tip').style('display', 'none')
    },
    showTip (d, pos) {
      let _me = this
      let tip = d3.select(this.$refs.lineWrapper).select('.tip')
      tip.html(() => {
        let str = '<span>Year: </span>' + d.year
        str += '<br><span>Species: </span>' + d.species.size()
        let rato = []
        let sum = 0
        Object.keys(d.health).forEach((_k) => {
          sum += d.health[_k]
          rato[_k] = {}
        })
        Object.keys(d.health).forEach((_k) => {
          rato[_k].precent = Math.round((d.health[_k] / sum) * 1000).toFixed(2)
          str += '<br><span>' + _k + ': </span>' + (rato[_k].precent / 10) + '%'
        })
        return str
      })
      if ((_me.height - pos.y) > 200) {
        tip.style('top', pos.y + 'px')
      } else {
        tip.style('bottom', (_me.height - pos.y + 20) + 'px')
      }
      tip.style('display', 'block')
      let tipW = parseInt(tip.style('width'))
      if (_me.width - pos.x < tipW) {
        tip.style('left', (pos.x - tipW - 10) + 'px')
      } else {
        tip.style('left', (pos.x + 10) + 'px')
      }
    }
  },
  mounted () {
    let computed = getComputedStyle(this.$refs.lineWrapper, null)
    let W = parseInt(computed.width)
    let H = parseInt(computed.height)
    let seriesData = {}
    DB.forEach((_d) => {
      let year = _d.planted.split('/')[2]
      if (!year) {
      } else {
        if (seriesData[year]) {
          seriesData[year].species.add(_d.species)
          if (seriesData[year].health[_d.health]) {
            seriesData[year].health[_d.health] += 1
          } else {
            seriesData[year].health[_d.health] = 1
          }
        } else {
          seriesData[year] = {
            species: d3.set(),
            health: {
              [_d.health]: 1
            }
          }
          seriesData[year].species.add(_d.species)
        }
      }
    })
    this.width = W
    this.height = H
    this.$dataset = seriesData
    // console.log(seriesData)
    this.renderLine()
  }
}
</script>

<style scoped>
  .wrapper {
    height: 100%;
    position: relative;
    width: 100%;
  }
  .title {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .tip {
    background: white;
    padding: 10px;
    display: inline-block;
    position: absolute;
    display: none;
    box-shadow: darkgrey 10px 10px 30px 5px ;
    z-index: 999;
  }
</style>
