<template>
  <div class="wrapper">
    <div class="form">
      <div class="title">
        Filter Operation
      </div>
      <el-select v-model="filted.year" clearable size="mini" placeholder="Select Year">
        <el-option
          v-for="item in filters.year"
          :key="item"
          :label="item"
          :value="item">
        </el-option>
      </el-select>
      <el-select v-model="filted.location" clearable size="mini" placeholder="Select Location">
        <el-option
          v-for="item in filters.location"
          :key="item"
          :label="item"
          :value="item">
        </el-option>
      </el-select>
      <el-select v-model="filted.maturity" clearable size="mini" placeholder="Select Maturity">
        <el-option
          v-for="item in filters.maturity"
          :key="item"
          :label="item"
          :value="item">
        </el-option>
      </el-select>
      <el-select v-model="filted.health" clearable size="mini" placeholder="Select Health">
        <el-option
          v-for="item in filters.health"
          :key="item"
          :label="item"
          :value="item">
        </el-option>
      </el-select>
      <div class="btn-wrapper">
        <el-button :type="mapIsLoaded ? 'primary' : 'info'" size="mini" @click="goFilter" :disabled="!mapIsLoaded">Fliter</el-button>
      </div>
      <br>
      <br>
      <div class="title">
        Search Operation
      </div>
      <el-select v-model="searched.genus" filterable clearable size="mini" placeholder="Enter or Select Genus">
        <el-option
          v-for="item in searches.genus"
          :key="item"
          :label="item"
          :value="item">
        </el-option>
      </el-select>
      <el-select v-model="searched.species" filterable clearable size="mini" placeholder="Enter or Select species">
        <el-option
          v-for="item in searches.species"
          :key="item"
          :label="item"
          :value="item">
        </el-option>
      </el-select>
      <div class="btn-wrapper">
        <el-button type="primary" size="mini" @click="goSearch" :disabled="!mapIsLoaded">Search</el-button>
      </div>
    </div>
    <div id="mapContainer" ref="mapWrapper">
      <gmap-map
        ref='mapRef'
        :center='center'
        :zoom='zoom'
        :style="{width:width + 'px', height:height + 'px'}">
        <gmap-cluster>
          <gmap-marker
            v-for="m in markers"
            :key="m.index"
            type="circle"
            :position="{
              lat: m.lattitude,
              lng: m.longitude
            }"
            :radius="30">
          </gmap-marker>
        </gmap-cluster>
      </gmap-map>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      width: 0,
      height: 0,
      center: {
        lat: -37.3938,
        lng: 143.773
      },
      markers: [],
      mapIsLoaded: false,
      zoom: 10,
      filters: {
        year: [],
        health: [],
        maturity: [],
        location: []
      },
      searches: {
        genus: [],
        species: []
      },
      searched: {
        genus: '',
        species: ''
      },
      filted: {
        year: '',
        health: '',
        maturity: '',
        location: ''
      }
    }
  },
  watch: {
    zoom () {
      console.log('zoom: ', this.zoom)
    }
  },
  methods: {
    goFilter () {
      let _me = this
      let data = []
      DB.forEach((_d) => {
        let y = _d.planted.split('/')[2]
        if ((y === _me.filted.year || _me.filted.year === '') ||
          (_me.filted.health === '' || _d.health === _me.filted.health) ||
          (_me.filted.maturity === '' || _d.maturity === _me.filted.maturity) ||
          (_me.filted.location === '' || _d.location === _me.filted.location)) {
          data.push(_d)
        }
      })
      _me.setMarker(data)
    },
    goSearch () {
      let _me = this
      let data = []
      console.log(_me.searched)
      if (_me.searched.species !== '' && _me.searched.genus !== '') {
        data = []
      } else {
        DB.forEach((_d) => {
          if ((_me.searched.genus === '' && _d.species === _me.searched.species)) {
            data.push(_d)
          }
          if ((_me.searched.species === '' || _d.genus === _me.searched.genus)) {
            data.push(_d)
          }
        })
      }
      _me.setMarker(data)
    },
    setMarker (data) {
      let _me = this
      _me.mapIsLoaded = false
      if (data.length === 0) {
        this.$message({
          showClose: false,
          message: 'No result',
          type: 'error'
        })
      }
      if (data.length > 50000) {
        this.$message({
          showClose: false,
          message: 'Too Much points',
          type: 'error'
        })
      } else {
        _me.markers = data
      }
      _me.mapIsLoaded = true
      console.log('Marker length: ', _me.$mapIns.Circle)
    }
  },
  mounted () {
    let _me = this
    _me.mapIsLoaded = false
    let computed = getComputedStyle(this.$refs.mapWrapper, null)
    let W = parseInt(computed.width)
    let H = parseInt(computed.height)
    this.width = W
    this.height = H
    let planted = d3.set()
    let location = d3.set()
    let maturity = d3.set()
    let health = d3.set()
    let genus = d3.set()
    let species = d3.set()
    DB.forEach((_d, i) => {
      _d.index = i
      let _p = _d.planted.split('/')[2]
      if (_p) planted.add(_p)
      location.add(_d.location)
      maturity.add(_d.maturity)
      health.add(_d.health)
      genus.add(_d.genus)
      species.add(_d.species)
    })
    this.filters = {
      year: planted.values(),
      location: location.values(),
      maturity: maturity.values(),
      health: health.values()
    }
    this.searches = {
      genus: genus.values(),
      species: species.values()
    }
    this.$refs.mapRef.$mapPromise.then((map) => {
      console.log(map)
      _me.mapIsLoaded = true
      _me.$mapIns = map
    })
  }
}
</script>

<style scoped>
  .wrapper {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .form {
    width: 200px;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .el-select {
    margin-bottom: 10px;
  }
  .title {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  .btn-wrapper {
    width: 100%;
    text-align: right;
    padding-right: 30px;
  }
  #mapContainer {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: calc(100% - 200px);
  }
</style>
