<template>
  <div class="wrapper" ref="pieWrapper">
    <div class="bubble">
      <div class="title">Bubble</div>
    </div>
    <div class="pie">
      <div class="title">Pie</div>
    </div>
    <div class="tip"></div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      width: 0,
      height: 0,
      hideOpacity: 0.3,
      radiusExtent: [3, 8],
      sum: 0
    }
  },
  methods: {
    renderBubbles () {
      let _me = this
      let _bubbleData = []
      let color = d3.schemeCategory20
      _me.$dataset.forEach((_d, i) => {
        _bubbleData.push({
          species: _d.key,
          nums: _d.value,
          rate: Math.round((_d.value / _me.sum).toFixed(3) * 1000),
          color: color[i % 20]
        })
      })
      let packData = {
        name: 'root',
        children: _bubbleData
      }
      let packSize = _me.width > _me.height ? _me.height : _me.width
      let pack = d3.pack()
        .size([packSize, packSize])
      let packDataCumputed = pack(d3.hierarchy(packData).sum((d) => {
        return d.nums
      }))
      _me.$bubbleSvg = d3.select(_me.$refs.pieWrapper).select('.bubble')
        .append('svg').attr('width', _me.width)
        .attr('height', _me.height)
      let g = _me.$bubbleSvg.append('g').attr('class', 'bubble-g')
        .attr('transform', 'translate(' + (_me.width / 2 - packSize / 2) + ', 0)')
      g.selectAll('circle').data(packDataCumputed.children).enter()
        .append('circle').attr('cx', (d) => {
          return d.x
        }).attr('cy', (d) => {
          return d.y
        }).attr('r', (d) => {
          return d.r
        }).attr('fill', (d) => {
          return d.data.color
        }).on('mousemove', function (d) {
          g.selectAll('circle').attr('opacity', _me.hideOpacity)
          d3.select(this).attr('opacity', 1)
          _me.showTip(d.data, {
            x: d3.event.layerX + 5,
            y: d3.event.layerY + 10
          })
        }).on('mouseout', () => {
          _me.hideTip('bubble')
          g.selectAll('circle').attr('opacity', 1)
        })
    },
    renderPieData () {
      // .
      let _me = this
      let _pieData = []
      let color = d3.schemeCategory20
      _me.$dataset.forEach((_d, i) => {
        _pieData.push({
          species: _d.key,
          nums: _d.value,
          rate: Math.round((_d.value / _me.sum).toFixed(3) * 1000),
          color: color[i % 20]
        })
      })
      _me.$pieSvg = d3.select(_me.$refs.pieWrapper).select('.pie')
        .append('svg').attr('width', _me.width)
        .attr('height', _me.height)
      let g = _me.$pieSvg.append('g').attr('class', 'pie-g')
        .attr('transform', 'translate(' + _me.width / 2 + ', ' + _me.height / 2 + ')')
      let pie = d3.pie()
        .value((d) => {
          return d.nums
        })
      let radius = (_me.width > _me.height ? _me.height : _me.width) * 0.4
      let arc = d3.arc()
        .innerRadius(0)
        .outerRadius(radius)
      g.selectAll('path').data(pie(_pieData)).enter()
        .append('path').attr('d', arc)
        .attr('fill', (d) => {
          return d.data.color
        }).on('mousemove', function (d) {
          g.selectAll('path').attr('opacity', _me.hideOpacity)
          d3.select(this).attr('opacity', 1)
          console.log(d3.event)
          _me.showTip(d.data, {
            x: d3.event.layerX + 5,
            y: d3.event.layerY + _me.height + 10
          })
        }).on('mouseout', () => {
          g.selectAll('path').attr('opacity', 1)
          _me.hideTip('pie')
        })
    },
    hideTip () {
      d3.select(this.$refs.pieWrapper).select('.tip').style('top', null)
        .style('bottom', null).style('left', null).style('right', null)
      d3.select(this.$refs.pieWrapper).select('.tip').style('display', 'none')
    },
    showTip (d = {}, ev) {
      let x = ev.x
      d3.select(this.$refs.pieWrapper).select('.tip')
        .html(() => {
          return `
            <span>Species</span>: ${d.species}<br>
            <span>Nums</span>: ${d.nums}<br>
            <span>Percent</span>: ${d.rate}%<br>
          `
        })
      // console.log(d3.style(tip.node(), 'width'))
      if (this.width - x < 200) {
        x = x - 200 - 30
      }
      d3.select(this.$refs.pieWrapper).select('.tip')
        .style('left', x + 'px')
        .style('top', ev.y + 'px')
        .style('display', 'block')
    }
  },
  mounted () {
    let computed = getComputedStyle(this.$refs.pieWrapper, null)
    let W = parseInt(computed.width)
    let H = parseInt(computed.height)
    this.width = W
    this.height = H / 2
    // let species = []
    let s = d3.map()
    DB.forEach((_d) => {
      this.sum += 1
      if (s.has(_d.species)) {
        let v = s.get(_d.species) + 1
        s.set(_d.species, v)
      } else {
        s.set(_d.species, 1)
      }
    })
    this.$dataset = s.entries()
    this.renderBubbles()
    this.renderPieData()
  }
}
</script>

<style scoped>
.wrapper{
  height: 200%;
  position: relative;
}
.pie {
  border-top: 1px #ccc solid;
  height: 50%;
  width: 100%;
  position: relative;
}
.bubble {
  position: relative;
  height: 50%;
  width: 100%;
}
.title {
  position: absolute;
  top: 20px;
  left: 20px;
}
.tip {
  background: white;
  padding: 10px;
  width: 240px;
  position: absolute;
  display: none;
  box-shadow: darkgrey 10px 10px 30px 5px ;
  z-index: 999;
}
</style>
