<template>
  <div id="app">
    <el-container>
      <el-header>
        Data Exploration Project for The Trees Distribution in Ballarat
      </el-header>
      <el-container>
        <el-aside width="200px">
          <el-menu
            default-active="1"
            class="el-menu-vertical-demo"
            @select="handleOpen">
            <el-menu-item v-for="t in tags" :key="t.index" :index="t.index">
              <router-link :to="t.path" slot='title' tag="span">{{t.name}}</router-link>
            </el-menu-item>
          </el-menu>
        </el-aside>
        <el-main>
          <router-view/>
        </el-main>
      </el-container>
    </el-container>
    <!--  -->
    <div id="tip"></div>
  </div>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
      tags: [{
        path: '/',
        index: '1',
        name: 'Map'
      }, {
        path: '/line',
        index: '2',
        name: 'Line Trend'
      }, {
        path: '/pie',
        index: '3',
        name: 'Pie && Bubble'
      }]
    }
  },
  methods: {
    handleOpen (index) {
      console.log('open tag: ', index)
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 10px;
}
.el-container {
  height: 100%;
  position: relative;
}
.el-main {
  padding: 10px;
}
.el-header {
  line-height: 60px;
  font-size: 20px;
}
#tip {
  background: white;
  padding: 10px;
  position: absolute;
  display: none;
}
</style>
